<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/lista.css">

    <title>All Pokémons</title>
</head>
<body>
    <div class="container">
        <main>

            <div class="title">
                <h1> <a href="../index.html">PokéCenter</a></h1>
            </div>

            <hr>

            <form action="" class="search">
                <input type="search" class="search-input" placeholder="Procure pelo nome ou número do Pokémon de 1 a 808">
                <button type="submit" class="search-button">Buscar Pokémon</button>
              </form>

            <section class="pokemon">
            </section>
            
    </div>

    <script src="/controller/buscarPokemon.js"></script>
</body>
</html>